<!-- begin main-header -->
<header class="main-header">
  <h1 class="main-header__title">Your Profit</h1>
  <div class="main-header__profile header-profile" id="header-profile">
    <div class="header-profile__ava header-profile__ava--online">
      <div class="header-profile__ava-img">
        <img src="../../../assets/img/ava-top.jpg" alt="avatar">
      </div>
    </div>
    <div class="header-profile__info">
      <span class="header-profile__name">Jordan J.</span>
      <span class="header-profile__position">Administrator</span>
    </div>
    <div class="header-profile__arr">
      <svg>
        <path fill-rule="evenodd" d="M6.807,0.935 L3.876,3.810 C3.659,4.024 3.307,4.024 3.089,3.810 L0.158,0.935 C-0.059,0.721 -0.059,0.374 0.158,0.160 C0.375,-0.054 0.727,-0.054 0.944,0.160 L3.483,2.650 L6.021,0.160 C6.238,-0.054 6.590,-0.054 6.807,0.160 C7.024,0.374 7.024,0.721 6.807,0.935 Z"/>
      </svg>
    </div>
  </div>
</header>
<!-- end main-header -->