<!-- begin aside-secondary-menu -->
<nav class="aside-secondary-menu">
  <h3 class="aside-secondary-menu__title">menu</h3>
  <ul class="aside-secondary-menu__list">
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link active">Profit</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Explore</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Profile</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Photos</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Videos</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Invite</a>
      <span class="aside-secondary-menu__counter">54</span>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Music</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Candidates</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Calendar</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Feedback</a>
    </li>
    <li class="aside-secondary-menu__item">
      <a href="#" class="aside-secondary-menu__link">Help</a>
    </li>
  </ul>
</nav>
<!-- end aside-secondary-menu -->