<!-- begin schedule -->
<div class="schedule">
  <!-- begin schedule__header -->
  <header class="schedule__header">
    <h2 class="schedule__title">Earnings History</h2>
    <!-- begin schedule__btns -->
    <div class="schedule__btns">
      <a href="#" class="schedule__btn">Weekly</a>
      <a href="#" class="schedule__btn active">Montly</a>
      <a href="#" class="schedule__btn">Yearly</a>
    </div>
    <!-- end schedule__btns -->
  </header>
  <!-- end schedule__header -->

  <canvas #myChart></canvas>
</div>
<!-- end schedule -->