<!-- begin aside-primary-icons -->
<nav class="aside-primary-icons">
  <ul class="aside-primary-icons__list">
    <li class="aside-primary-icons__item">
      <a href="#" class="aside-primary-icons__link">
        <img src="../../../../assets/img/ava-primary-01.jpg" alt="avatar">
      </a>
    </li>
    <li class="aside-primary-icons__item active">
      <a href="#" class="aside-primary-icons__link">
        <img src="../../../../assets/img/ava-primary-02.jpg" alt="avatar">
      </a>
    </li>
    <li class="aside-primary-icons__item">
      <a href="#" class="aside-primary-icons__link">
        <img src="../../../../assets/img/ava-primary-03.jpg" alt="avatar">
      </a>
    </li>
    <li class="aside-primary-icons__item">
      <a href="#" class="aside-primary-icons__link">
        <img src="../../../../assets/img/ava-primary-04.jpg" alt="avatar">
      </a>
    </li>
    <li class="aside-primary-icons__item">
      <a href="#" class="aside-primary-icons__link">
        <img src="../../../../assets/img/ava-primary-05.jpg" alt="avatar">
      </a>
    </li>
  </ul>
</nav>
<!-- end aside-primary-icons -->
