<!-- begin stats -->
<div class="stats">
  <!-- begin stats__item -->
  <div class="stats__item stats-item">
    <div class="stats-item__top stats-item__top--new">
      <span class="stats-item__val">3,594</span>
      <span class="stats-item__descr">New Orders</span>
    </div>
    <div class="stats-item__bottom stats-item__bottom--up">
      <span class="stats-item__arr"></span>
      <span class="stats-item__rate">13% Increase</span>
    </div>
  </div>
  <!-- end stats__item -->

  <!-- begin stats__item -->
  <div class="stats__item stats-item">
    <div class="stats-item__top stats-item__top--sales">
      <span class="stats-item__val">105,990</span>
      <span class="stats-item__descr">TOTAL SALES</span>
    </div>
    <div class="stats-item__bottom stats-item__bottom--up">
      <span class="stats-item__arr"></span>
      <span class="stats-item__rate">4% Increase</span>
    </div>
  </div>
  <!-- end stats__item -->

  <!-- begin stats__item -->
  <div class="stats__item stats-item">
    <div class="stats-item__top stats-item__top--paid">
      <span class="stats-item__val">$50,890</span>
      <span class="stats-item__descr">Total Paid Out</span>
    </div>
    <div class="stats-item__bottom stats-item__bottom--down">
      <span class="stats-item__arr"></span>
      <span class="stats-item__rate">21% DECREASE</span>
    </div>
  </div>
  <!-- end stats__item -->

  <!-- begin stats__item -->
  <div class="stats__item stats-item">
    <div class="stats-item__top stats-item__top--customers">
      <span class="stats-item__val">453</span>
      <span class="stats-item__descr">NEW CUSTOMERS</span>
    </div>
    <div class="stats-item__bottom stats-item__bottom--down">
      <span class="stats-item__arr"></span>
      <span class="stats-item__rate">5% DECREASE</span>
    </div>
  </div>
  <!-- end stats__item -->
</div>
<!-- end stats -->