<!-- begin person-events -->
<div class="person-events">
  <div class="person-events__header">Upcoming Events with Jordan</div>

  <div class="person-events__item">
    <div class="person-events__info">
      <span class="person-events__info-title">Super Photography 2016</span>
      <span class="person-events__info-period">January 13th, Vienna - 6:30 PM</span>
    </div>
    <span class="person-events__skill person-events__skill--blue">Photography</span>
  </div>
  <div class="person-events__item">
    <div class="person-events__info">
      <span class="person-events__info-title">Photox Expo</span>
      <span class="person-events__info-period">March 28th, Paris - 7:30 PM</span>
    </div>
    <span class="person-events__skill person-events__skill--green">Design</span>
  </div>
</div>
<!-- end person-events -->