<!-- begin person-card -->
<div class="person-card">
  <a href="#" class="person-card__edit">
    <svg>
      <path fill-rule="evenodd" d="M14.061,0.283 C13.681,-0.096 13.066,-0.096 12.687,0.283 L11.255,1.715 C11.087,1.883 11.087,2.156 11.255,2.325 L13.679,4.749 C13.848,4.918 14.121,4.918 14.290,4.749 L15.721,3.318 C16.101,2.938 16.101,2.323 15.721,1.943 L14.061,0.283 ZM10.736,2.845 C10.568,2.675 10.294,2.676 10.126,2.845 L2.199,10.771 C2.030,10.940 2.030,11.212 2.199,11.382 L4.623,13.806 C4.791,13.974 5.065,13.974 5.233,13.806 L13.160,5.879 C13.329,5.710 13.329,5.437 13.160,5.268 L10.736,2.845 ZM1.740,11.961 C1.613,11.835 1.408,11.835 1.282,11.961 C1.189,12.053 0.039,15.492 -0.004,15.623 C-0.058,15.856 0.151,16.058 0.385,16.008 C0.508,15.967 3.951,14.814 4.044,14.723 C4.170,14.596 4.170,14.391 4.044,14.265 L1.740,11.961 Z"/>
    </svg>
  </a>

  <div class="person-card__header">
    <div class="person-card__ava">
      <img src="../../../../../assets/img/ava-lg.jpg" alt="avatar">
    </div>
    <h2 class="person-card__name">Jordan Jackson</h2>
    <span class="person-card__position">Beta Tester | Ultimate User</span>
  </div>
  <div class="person-card__item">
    <span class="person-card__item-label">Email</span>
    <a href="mailto:jordan.jackson@dashboard.com" class="person-card__item-link">jordan.jackson@dashboard.com</a>
  </div>
  <div class="person-card__item">
    <span class="person-card__item-label">Mobile</span>
    <a href="tel:+4407887665588" class="person-card__item-link">+44 (0) 7887 665 588</a>
  </div>
  <div class="person-card__item">
    <span class="person-card__item-label">Skill Level</span>
    <span class="person-card__item-link">Senior (50K+)</span>
  </div>

  <div class="person-card__item">
    <span class="person-card__item-label">Paid Out Limit</span>
    <span class="person-card__progressbar progressbar">
      <span class="progressbar__row" id="progressbar__row">
        <span class="progressbar__row-min" id="progressbar__row-min"></span>
      </span>
      <span class="progressbar__info">
        <span class="progressbar__info-min" id="progressbar__info-min" data-value="580">$580</span>
        <span class="progressbar__info-max" id="progressbar__info-max" data-value="750">$750</span>
      </span>
    </span>
  </div>

  <div class="person-card__item person-card__item--bio">
    <span class="person-card__item-label">Bio</span>
    <span class="person-card__item-link">Jordan graduated from Cornell University in 2004 with a Bachelor degree in computer science and a specialization in mathematics. While there, he published two articles on Code-project.</span>
  </div>

  <div class="person-card__item person-card__item--skills">
    <span class="person-card__item-label">Skills</span>
    <span class="person-card__item-link">
      <span class="person-card__item-skill person-card__item-skill--blue">Photography</span>
      <span class="person-card__item-skill person-card__item-skill--green">Teacher</span>
      <span class="person-card__item-skill person-card__item-skill--gray">Traveler</span>
      <span class="person-card__item-skill person-card__item-skill--red">Ios</span>
    </span>
  </div>
</div>
<!-- end person-card -->
