<!-- begin referrer -->
<div class="referrer">
  <table class="referrer__table">
    <thead class="referrer__thead">
    <tr class="referrer__tr">
      <th class="referrer__th">Referrer</th>
      <th class="referrer__th">Views</th>
      <th class="referrer__th">Sales</th>
      <th class="referrer__th">Conversion</th>
      <th class="referrer__th referrer__th-sortable">
        Total
        <span class="referrer__th-sort-btn">
            <svg width="9px" height="11px">
              <path fill-rule="evenodd"  fill="rgb(132, 146, 180)" d="M4.500,0.000 L8.500,4.000 L0.500,4.000 L4.500,0.000 ZM4.500,11.000 L0.500,7.000 L8.500,7.000 L4.500,11.000 Z"/>
            </svg>
          </span>
      </th>
    </tr>
    </thead>
    <tbody class="referrer__tbody">
    <tr class="referrer__tr">
      <td class="referrer__td">note.com</td>
      <td class="referrer__td">54</td>
      <td class="referrer__td">12</td>
      <td class="referrer__td">10.5%</td>
      <td class="referrer__td">$50</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">Direct, email, IM</td>
      <td class="referrer__td">96</td>
      <td class="referrer__td">24</td>
      <td class="referrer__td">25%</td>
      <td class="referrer__td">$10</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">Recommended</td>
      <td class="referrer__td">5</td>
      <td class="referrer__td">5</td>
      <td class="referrer__td">100%</td>
      <td class="referrer__td">$10</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">Dribbble</td>
      <td class="referrer__td">1</td>
      <td class="referrer__td">0</td>
      <td class="referrer__td">0.0%</td>
      <td class="referrer__td">$0</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">google.co.uk</td>
      <td class="referrer__td">5</td>
      <td class="referrer__td">0</td>
      <td class="referrer__td">0.0%</td>
      <td class="referrer__td">$0</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">google.com.tr</td>
      <td class="referrer__td">0</td>
      <td class="referrer__td">0</td>
      <td class="referrer__td">0.0%</td>
      <td class="referrer__td">$0</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">mail.google.com</td>
      <td class="referrer__td">1</td>
      <td class="referrer__td">0</td>
      <td class="referrer__td">0.0%</td>
      <td class="referrer__td">$0</td>
    </tr>
    <tr class="referrer__tr">
      <td class="referrer__td">facebook.com</td>
      <td class="referrer__td">5</td>
      <td class="referrer__td">0</td>
      <td class="referrer__td">0.0%</td>
      <td class="referrer__td">$0</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- end referrer -->